@import "tailwindcss";html {font-size: 62.5%;};
body {
  background-color: #0D0D0D;
  color: #F5F5F5;
}
body {
  height: 100svh;
  overflow: clip;
  margin: 0;
  padding: 0;
}#scroll-container {
  height: 100svh;
  overflow: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.sticky-element {
  position: sticky;
  top: 0;
  z-index: 10;
}
.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: -1;
  transform: translate3d(0, 0, -1px);
}